@font-face{
  font-family: smack;
  src:url('smack.ttf');

}
  
@font-face{
  font-family: maiden;
  src:url('maiden.ttf');

}

@font-face{
  font-family: foo;
  src:url('foo.ttf');

}

@font-face{
  font-family: Action Comics Black;
  src:url('C2.ttf');

}
@font-face{
  font-family: DC Comics;
  src:url('DC Comics.ttf');
}

@font-face{
  font-family: Quarmic sans;
  src:url('Quarmic.ttf');
}


  .d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #CCCCCC;
  opacity:.3;
  border-radius: 2px;

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}



/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Format X and Y Axis */
.axis path,
.axis line {
    fill: none;
    stroke: #2c2b2b;
    shape-rendering: crispEdges;
    stroke-width: 2px;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #2c2b2b;
}

#ScaleSelection {
    position: absolute;
    top: 530px;
    left:  1043px;
    width: 163px;
    height: 210px;
    border: .5px solid #777777;
}

#dcchar{
  font-size: 30px;
  font-family:Quarmic sans;
  color: #000063;
  opacity:.8;
}

#marvelchar{
  font-size: 30px;
  font-family:Quarmic sans;
  color: #CE0000;
  opacity: .8;
}

body {
    text-align: center;
    background-color: #DEE7EF;
    color: #2c2b2b;
    font-family: sans-serif;
}

h1{
  font-family: smack;
  font-size: 33px;
  color:#000063;
  text-shadow: 1.5px 1.5px #ff0000;
  opacity:.7;
}

div#vis2{
  height:1200px;
  position: absolute;
  top: 1150px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9CAAC6;

}
h2#intro{
  text-align: center;
  margin-right: 192px;
  margin-left: 0px;
  font-family: arial;
  font-size: 20px;
  color:#111111;
  background-color:;
  text-shadow: 0px 0px #ff0000;
  opacity:.8;
}

div#vis3{
  position: absolute;
  top: 2340px;
  left: 0;
  right: 0;
  bottom: 0;

}

#clickprompt{
   position: absolute;
  top: 0px;
  left: 200px;
  right: 50px;
  bottom: 200px;
}
div.top{
  background-color: #9CAAC6;
  font-size: 130px;
  font-family: maiden ;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.clearmap{
    height:25px;
    width:175px;
    font-size:18px;

}